body
{
/*color: white;*/
background-color: #dddddd;
font-family:Courier;
width: 100%;
}



.carrocel{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-style: solid;
    border-width: 20px;
    border-color: #6699FF;
    border-radius:10px;
}

.content{
	margin-top: 2%;

}

#ranking{
	background: url(images/ranking.png);
	height:100%;
	background-repeat:no-repeat;
	background-size:200px 220px;
	margin-left: 25%;
	margin-top: 2%;
}

#message{
	margin-top: -44%;
	margin-left: 29%;
	height: 180px;
	width: 760px;
	text-align: center;
	color: #336666;
	font-size:180%;
	padding: 35px;

}

#link{
	width: 70%;
	margin-left: 23%;
    text-align: center;
    margin-top: -9%;

}

#chamada{
	
	margin: 0 auto;

}


#description{
	text-align: center;
	background-color: white;
	border-radius:10px;
}



/*************** SLIDER ********************/


/* For generic page styles. Not for sliders. */

body {background:#F6F6F6;font:normal 0.9em Arial; margin:0; padding:0; padding-bottom:60px;}
h2 {display:inline;}
.div1, .div2 {width:700px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C; }
.div1 a {margin:0 8px;}
.div1 a.current {color:black; text-decoration:none;}
.div2 {margin-top:70px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.green {color:Green;}
.cn {font-family: "Courier New", Georgia;}
#status {display:inline-block; margin-left:26px;line-height:50px;height:50px;vertical-align:middle;}

.code
{
    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
    font-size:12px; margin:6px 0;overflow:auto; 
}

/****************************************************/



/*************** CAM ********************/

.tirarFoto_btn {
   border-top: 1px solid #f7bc97;
   background: #c96d34;
   background: -webkit-gradient(linear, left top, left bottom, from(#b55c28), to(#c96d34));
   background: -webkit-linear-gradient(top, #b55c28, #c96d34);
   background: -moz-linear-gradient(top, #b55c28, #c96d34);
   background: -ms-linear-gradient(top, #b55c28, #c96d34);
   background: -o-linear-gradient(top, #b55c28, #c96d34);
   padding: 12.5px 25px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

#tirarFoto{
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    width: 600px;
    height: 240px;
    position: relative;
    background-color: #FFF2DF;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    top: 230px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 30px;
    color: #3B2D16;
}

#main {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;

}

.tirarFoto_btn :hover {
   border-top-color: #9c4611;
   background: #9c4611;
   color: #c9c9c9;
}

.tirarFoto_btn :active {
   border-top-color: #612715;
   background: #612715;
}

video { 
  border: 1px solid #ccc; 
  display: block; 
  margin: 0 0 20px 0; 
}

#canvas { 
  margin-top: -555px; 
  border: 1px solid #ccc; 
  display: block; 
}

.demo-frame header {
  display: none;
}

.demo-wrapper {
  min-height: 500px;
}

.bsap_1280449 {
  position: absolute;
  top: 0;
  right: 0;
}

#coverVideo{
  width: 640px;
  height: 480px;
  display: block; 
  margin: 0 0 20px 0; 
  position: relative;
  background: black;
}

/*************************************/







